
<h2>Popis semestrálnej práce</h2>
<p>Semestrálna práca pozostáva z ukážky využitia technológie Windows Iot Core v spoluprácii s Azure Iot Hub</p>
<br />
<h3>Použité technológie:</h3>
<h4>Windows Iot Core v. 17763</h4>
<p><i> Operačný systém je nainštalovaný na Raspberry Pi 3 b+ a beží na ňom UWP aplikácia</i></p>
<h4>Azure API</h4>
<p><i> API aplikácia, ktorá ukladá dáta do databázy posielané od Rpi v intervaloch pomocou REST technológie, hostovaná na Azure cloude</i></p>
<h4>Azure SQL database</h4>
<p><i> Databáza na ukladanie dát, uložená na Azure cloude</i></p>
<h4>Entity framework</h4>
<p><i> Framework použitý na prácu s databázou</i></p>
<h4>ASP.NET</h4>
<p><i> Webová aplikácia, umožňujúca zobraziť dáta na grafe a meniť nastavenia prípadne ovládať Rpi</i></p>
<h4>Azure Iot Hub</h4>
<p> <i>Technológia umožňujúca komunikáciu typu cloud-device a je využívaná na ovládanie Rpi z webovej aplikácie</i></p>
