@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>
    Juraj Janik<br />
    Pokrocile objektove technologie<br />
    5ZZS23<br />
    Semestralna praca <br />
</p>

<address>
    <strong>E-mail:</strong> <a href="mailto:janik.juraj2@gmail.com">janik.juraj2@gmail.com</a><br />
</address>